{{!--
--> All the ids, fors need to be changed

--}}


<h1>Login</h1>
<form id="login-form" method="POST">
    <label for="usernameInput">Username</label>
    <input name="usernameInput" id="usernameInput">
    <label for="passwordInput" id="passwordInput">Password</label>
    <input name="passwordInput" id="passwordInput" type="password">
    <button type="submit">Login</button>
</form>
<a href>Login</a>