{{!--
--> All the ids, fors need to be changed

--}}

<h1>Create Your Account</h1>
<form>
    <label for="">First Name</label>
    <input>
    <label for="">Last Name</label>
    <input>
    <label for="">Username</label>
    <input>
    <label for="">Password</label>
    <input>
    <label>Confirm Password</label>
    <input>
    <button type="submit">Create Account</button>
</form>
<a href>Login</a>